body {
    background-image: url(../images/ufc-octagon.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Gloria Hallelujah', cursive;
}
img{
    height: 100px;
    width: 150px;
    border-radius: 10px;
}
.sectionTitle {
    font-size: 35px;
    color: red;
}
.mainSectionTitle{ 
    font-size: 40px;
    text-align: center;
    color: white;
}
.character {
    display: inline-block;
    border-style: solid;
    border-color: red;
    border-width: 3px;
    cursor: pointer;
    background-color: whitesmoke;
}
.character-image {
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 3px;
    margin-bottom: 3px;
}
.character-name {
    text-align: center;
}
.character-health {
    text-align: center;
}
#attackButton {
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 50;
}